/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: 10px;
}

*/
/* Buttons */

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 6px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: blue;
}