body {
    margin: 0;
    font-family: -apple-system, 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;